/* <----------------------------------------> */
/* <--********** CSS Imports *************--> */
/* <----------------------------------------> */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* <----------------------------------------> */
/* <--********** CSS Resets **************--> */
/* <----------------------------------------> */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <----------------------------------------> */
/* <--********** Set Defaults ************--> */
/* <----------------------------------------> */

html {
  --color-white: rgb(255, 255, 255);
  --color-grey-light: rgb(235, 235, 235);
  --color-grey-medium: rgb(166, 166, 166);
  --color-grey-dark: rgb(90, 90, 90);
  --color-grey-very-dark: rgb(50, 50, 50);
  --color-blue-highlight: rgb(131, 227, 251);
}

body {
  background-color: var(--color-grey-light);
  font-family: 'Montserrat', sans-serif;
  color: rgb(50, 50, 50);
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}

/* <----------------------------------------> */
/* <--********** Main ********************--> */
/* <----------------------------------------> */

.card {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 26.5625rem;
  margin: 10rem auto;
  box-shadow: 2px 2px 12px var(--color-grey-medium);
}

.heading h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding: 2rem 4rem 0 4rem;
}

.heading p {
  padding: 1rem 4rem 2.5rem 4rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-grey-dark);
}

.deal h2 {
  background-color: var(--color-blue-highlight);
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  padding: 0.25rem;
  color: rgb(50, 50, 50);
}

.deal p {
  padding: 1rem 4rem 3rem 3rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-grey-dark);
}

.list ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 4rem 2rem 4rem;
}

.list li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-grey-dark);
}

.list li i {
  font-size: 0.6rem;
  margin-right: 0.5rem;
  color: var(--color-grey-dark);
}

.button {
  padding: 1rem 3rem 2.5rem 3rem;
  display: flex;
  justify-content: center;
}

.button a {
  width: 100%;
  height: 100%;
}

button {
  border: 2px solid var(--color-grey-medium);
  background-color: var(--color-white);
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-blue-highlight);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

button:hover {
  color: var(--color-white);
  background-color: var(--color-blue-highlight);
}
